<head>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h2>Course cannnot be deleted</h2>
    <p>Because there are students still in this course.</p>
    <br/>

    <p><a asp-controller="Home" asp-action="Index">Return Home</a></p>
</body>
