@model List<Student_Enrollment.Models.Course>

<body>
    <h2>Courses</h2>

    <form asp-controller="Course" asp-action="ViewAll">
        <p>
            Search: <input type="text" name="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </form>

    @foreach (var x in Model)
    {
        <h3>@x.ClassName</h3>
        <p>Instructor: @x.Instructor</p>
        <p><a asp-controller="Course" asp-action="Details" asp-route-id="@x.ID">View Details</a></p>
        <hr />

    }
</body>