<head>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h1>Code Fellows Student Administration</h1>

    <p><a asp-controller="Course" asp-action="Create">Create a Course</a></p>

    <p><a asp-controller="Student" asp-action="Create">Enter a Student</a></p>

    <p><a asp-controller="Course" asp-action="ViewAll">View all Course</a></p>

    <p><a asp-controller="Student" asp-action="ViewAll">View all Students</a></p>
</body>

